@media (min-width: 320px) and (max-width: 600px) {
  .NavigationBar {
    height: auto;
    flex-wrap: wrap;
  }

  .DirectionsLink {
    margin-left: 0 !important;
  }

  .NavLinks {
    gap: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .TextStyle {
    font-size: clamp(0.65rem, 3.8vw, 1.3rem)  !important;
    font-weight: 600 !important;
  }

  .PlayersContent {
    flex-direction: column;
    gap: 0rem;
  }

  .FooterBar {
    flex-direction: column;
    padding: 1rem;
  }

  table {
    font-size: 0.8rem;
  }

  button {
    width: 80%;
  }

  body {
    overflow: auto;
  }
  video {
    max-width: 90%;
    height: auto;
  }

  .CarlosImage {
    width: 90% !important;
    height: 90% !important;
  }

  .CocoImage {
    width: 90% !important;
    height: 90% !important;
  }

  .TaylorImage {
    width: 90% !important;
    height: 90% !important;
  }

  .IgaImage {
    width: 90% !important;
    height: 90% !important;
  }

  .NovakImage {
    width: 90% !important;
    height: 90% !important;
  }

  .Logo {
   width: 15% !important;
   height: auto !important;
   border-radius: 25% !important;
   top: .65rem !important;
   left: .65rem !important;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
   body {
     overflow: auto;
     max-width: 100%;
     height: auto;
   }

   .PlayersContent {
     flex-wrap: wrap;
     gap: 0rem !important;
   }

   .DirectionsLink {
     margin-left: 0rem !important;
     flex-wrap: wrap;
   }

   .FooterBar {
     flex-direction: column;
     padding: 1rem;
     margin-top: 15rem !important;
   }

   video {
     max-width: 90%;
     height: auto;
   }

   .CarlosImage {
     width: 90% !important;
     height: 90% !important;
   }

   .CocoImage {
     width: 90% !important;
     height: 90% !important;
   }

   .TaylorImage {
     width: 90% !important;
     height: 90% !important;
   }

   .IgaImage {
     width: 90% !important;
     height: 90% !important;
   }

   .NovakImage {
     width: 90% !important;
     height: 90% !important;
   }
}




